html {
    background-color: #222528;
    height: 100%;
    margin: 0;
}

.root {
    height: 100%;
}

.app {
    display: flex;
    gap: 20px;
}

.app-container {
    width: 80%;
    height: 100%;
}

.status-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    padding-top: 20px;
}